<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andikas.storyapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".StoryApp"
        android:allowBackup="true"
        android:icon="@drawable/img_logo_primary"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/img_logo_primary"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryApp">
        <activity
            android:name=".ui.story.add.AddStoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Secondary.StoryApp"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.story.detail.StoryDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Secondary.StoryApp"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Primary.StoryApp"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.story.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Secondary.StoryApp"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Secondary.StoryApp"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Secondary.StoryApp"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.andikas.storyapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>